<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles.css">
  <script defer src="/validate-form.js"></script>

  <title>Message Board</title>
</head>

<body>
  <%- include("partials/navbar.ejs", { selectedTab: locals.selectedTab }) %>

  <main>
    <form method="POST" action="/new">
      <div>
        <label for="user">Username * <span class="r1">(required)</span></label>
        <input type="text" id="user" name="user" required autofocus>
      </div>

      <div>
        <label for="text">Message * <span class="r2">(required)</span></label>
        <textarea name="text" id="text" rows="6" required></textarea>
      </div>

      <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z" />
          <path d="m21.854 2.147-10.94 10.939" />
        </svg>
        <p>Post Message</p>
      </button>
    </form>
  </main>
</body>

</html>
