@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-bg-color: #2b2d42;

  --primary-text-color: #8d99ae;
  --secondary-text-color: #adb5bd;

  --primary-accent-color: #ef233c;
  --secondary-accent-color: #edf2f4;

  --input-background-color: #23194266;
  --input-border-color: #5e548e;
  --input-text-color: #e0b1cb;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 0 1rem;
  padding-bottom: 2rem;
  background-color: var(--primary-bg-color);

  font-family: "Inter", serif;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  padding: 1rem;
  margin-top: 0.5rem;

  & > a {
    padding-bottom: 0.2rem;
  }

  & > a:first-of-type {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    padding-bottom: 0.2rem;

    text-transform: uppercase;
    color: var(--secondary-accent-color);

    & > svg {
      stroke: var(--primary-accent-color);
    }
  }

  & > a:not(:first-of-type) {
    border-bottom: 2px solid var(--primary-bg-color);
  }

  & > .selected {
    border-color: var(--primary-text-color) !important;
  }
}

main {
  width: clamp(400px, 60vw, 800px);

  & > .error {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem 0;

    & > p:first-of-type {
      font-size: 3rem;
      text-transform: uppercase;
      letter-spacing: 0.1ch;

      & > span:first-of-type {
        color: var(--secondary-accent-color);
      }

      & > span:last-of-type {
        color: var(--input-text-color);
      }
    }

    & > svg {
      margin-top: 2rem;
      width: 6rem;
      height: 6rem;

      stroke-width: 1;
      stroke: var(--input-text-color);
    }
  }

  & > div:not(.error) {
    border-bottom: 1px dashed;
    margin-bottom: 1.2rem;
    padding: 0 0.5rem 1rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    & > p {
      line-height: 1.5;
      color: var(--secondary-text-color);
    }

    & > div:first-of-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      & > div {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > svg {
          flex-shrink: 0;

          width: 1.2rem;
          height: 1.2rem;
        }
      }

      & > p {
        flex-shrink: 0;
        font-size: 0.8rem;
      }
    }
  }

  & > ul {
    list-style: none;

    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    color: var(--primary-accent-color);

    & > li {
      border: 1px solid #ef233c66;
      border-radius: 5px;
      background-color: #ef233c33;
      padding: 1rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      & > svg {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

  }

  & > form {
    & > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      margin-bottom: 1.5rem;

      & > input,
      & > textarea {
        appearance: none;
        outline: none;
        border: none;

        font-size: inherit;
        font-family: inherit;
        font-weight: 500;
        color: var(--input-text-color);

        padding: 0.6rem;
        background-color: var(--input-background-color);
        border-radius: 5px;
        border-bottom: 4px solid var(--input-border-color);
      }

      & > textarea {
        resize: vertical;
        scrollbar-width: thin;
        scrollbar-color: var(--input-text-color) var(--input-border-color);

        line-height: 1.5;
      }

      & > input:focus,
      & > textarea:focus {
        border-color: var(--input-text-color);
      }
    }

    & > button {
      border: none;

      font-size: inherit;
      font-family: inherit;
      background-color: #5e548e44;
      color: var(--input-text-color);

      padding: 0.8rem 1rem;
      border-radius: 5px;

      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      & > svg {
        width: 1rem;
        height: 1rem;
      }
    }

    & > button:hover {
      background-color: #5e548e66;
    }
  }
}

.r1, .r2 {
  visibility: hidden;
  color: var(--primary-accent-color);
}

@media (max-width: 400px) {
  main {
    max-width: 300px;
  }
}
